In [5]:
import pandas as pd
import sqlite3

In [12]:
banco = sqlite3.connect('banco_escola.db')
cursor = banco.cursor()

In [13]:
cursor.execute('CREATE TABLE JOSHUA_TESTE(Idade INTEGER, nome VARCHAR(255))')

In [14]:
cursor.execute('INSERT INTO JOSHUA_TESTE VALUES(22,"joshua")')

In [17]:
cursor.execute('SELECT * FROM JOSHUA_TESTE')
resultado = cursor.fetchall()
print(resultado)

[(22, 'joshua')]